<div class="table-responsive" *ngIf="this.snippetService.snippetsStore">
    <table class="table table-striped" aria-describedby="user-management-page-heading">
        <tbody>
        <tr *ngFor="let snippet of this.snippetService.snippetsStore; trackBy: trackIdentity">
            <td><a [routerLink]="['/snippet/user', snippet.id, 'view']">{{ snippet.id }}. {{ snippet.title }}
                <br> {{snippet.description}}
            </a></td>
        </tr>
        </tbody>
    </table>
</div>

<button type="submit"
        [hidden]="this.route.routeConfig.path=='new'"
        class="btn btn-primary btn-sm"
        [routerLink]="['/snippet/new']">
    <fa-icon icon="pencil-alt"></fa-icon>
    <span class="d-none d-md-inline">Create new snippet</span>
</button>
